* {
  margin: 0;
}

header,
nav,
aside,
footer {
  padding: 0.1em 0.25em;
}

#root {
  background-color: lightgrey;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100dvh;
}

#content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow-y: hidden;
}

#content aside {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  transition: grid-template-columns 0.5s ease-in-out;
}

#content aside * {
  overflow-x: hidden;
}

#content :has(input:not(:checked)) {
  grid-template-columns: 0fr;
}

.content input:not(:checked) {
  position: fixed;
  background-color: lightgrey;
}

.right-sidebar input {
  position: fixed;
  right: 0;
}

main {
  background-color: lightblue;
}

nav,
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em 1em;
}

footer {
  justify-content: space-between;
}
